[submodule "subprojects/VulkanMemoryAllocator"]
	path = subprojects/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw.git
[submodule "subprojects/glm"]
	path = subprojects/glm
	url = https://github.com/g-truc/glm.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "subprojects/quickhull"]
	path = subprojects/quickhull
	url = https://github.com/akuukka/quickhull.git
